body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: url(image/pexels-pixabay-458983.jpg);
    background-size: cover;
    font-family: sans-serif;
    overflow: hidden;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 22px;
    text-align: center;
    color: #fff;
}

.clock{
    display: flex;

}

.clock div{
    margin: 5px;
    position: relative;
}

.clock div span{
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: 80%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkblue;
    opacity: 0.8;
}

.clock #ampm{
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(172, 50, 2);
}
